/* contact page  */
.contact-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-info {
  flex: 1;
}
.contact-form {
  flex: 1;
  margin-top: 100px;
}
.contact-info p {
  max-width: 450px;
  margin-top: 40px;
}

/* form  */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}
.contact-info h2 {
  font-weight: 800;
  font-size: 32px;
}

.contact-form button[type="submit"] {
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.contact-form button[type="submit"]:active {
  transform: scale(0.98);
}

/* Contact Media Queries */
@media screen and (max-width: 768px) {
  /* contact page responsiveness */
  .contact-content {
    flex-direction: column;
    padding: 0 20px;
    gap: 40px;
    text-align: center;
  }

  .contact-info p {
    margin: 20px auto;
  }

  .contact-form {
    margin-top: 40px;
    width: 100%;
  }

  input {
    padding: 15px 20px;
  }
}
