/* hero-section specific */
.hero-image {
  padding-top: 20px;
}
.hero-image img {
  border-radius: 24px;
}

/* glance bar  */
.glance-bar {
  display: flex;
  justify-content: space-around; 
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  background-color: #ffffff;
  gap: 20px;
  padding: 40px;
  border-radius: 20px;
  width: 55%;
}
.glance-bar h4 {
  font-size: 24px;
}
.glance-bar p {
  font-size: 13px;
  color: #666666;
}

/* the journey  */
.the-journey {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000000;
  color: #fff;
  padding: 80px 40px;
  width: 100%;
  text-align: left;
}
.journey-list {
  display: flex;
  justify-content: flex-start;
  /* for small screen  */
  flex-wrap: wrap;
  gap: 70px;
  padding: 0;
}
.line-one {
  color: #999999;
  font-size: 50px;
  padding-left: 150px;
}
.line-two {
  padding-left: 160px;
  padding-bottom: 40px;
  font-family: "poppins", sans-serif;
  font-size: 28px;
}
.line-one,
.line-two {
  padding: 0; /* remove left padding */
  margin-bottom: 20px;
}
.journey-number {
  color: #eaeaea;
  font-family: "Space Mono";
  font-size: 64px;
  font-weight: 800;
  opacity: 0.2;
}
.line-three {
  font-family: "poppins", sans-serif;
  font-weight: 28px;
}
.line-four {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  align-items: center;
  max-width: 300px;
}

/* price-card  */
.price-line-one {
  color: #666666;
  letter-spacing: 3px;
  font-size: 12px;
}
.price-line-two {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
}
.price-subline-one {
  color: black;
  font-size: 24px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}
.price-subline-two {
  font-size: 16px;
  padding-top: 20px;
}
.price-subline-three {
  padding: 30px 0;
  font-size: 48px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}
.price-subline-four {
  color: #666666;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  padding-bottom: 40px;
}
.price-plan {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  gap: 30px;
  background-color: #fcfcfc;
}
.price-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: #ffffff;
}
.price-card {
  border: 1px solid #eeeeee;
  border-radius: 32px;
  padding: 30px 10px;
  box-shadow: 0 0 15px rgba(229, 229, 229, 0.6);
  max-width: 320px;
}
/* important  */
.price-card ul {
  padding-bottom: 40px;
  width: fit-content;
  margin: 0 auto;
  text-align: left;
  padding-left: 20px;
}
.price-card a {
  text-decoration: none;
}
.price-card-list .price-card:nth-child(2) {
  border: 1px solid black;
  border-radius: 16px;
  border-radius: 32px;
  width: 100%;
}
.price-card-list .btn-primary:hover {
  border: 1px solid #000000;
}

.price-card ul li {
  margin-bottom: 12px;
}

/* testimonials  */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-section {
  padding-top: 100px;
}
.testimonial-section .icon {
  color: #dbff00;
  font-size: 100px;
}
.testimonial-content {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 32px;
}
.name {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}
.location {
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}
/* faq */
.faq {
  padding: 120px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.faq-items {
  margin-bottom: 20px;
}
.faq-item p {
  padding-bottom: 24px;
}
.faq-header {
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 16px;
}
.faq-item summary {
  font-size: 18px;
  font-weight: 600;
  padding: 24px 0;
  cursor: pointer;
}
.faq-item p {
  padding-bottom: 24px;
  color: #666666;
}

/* Index Media Queries */
@media screen and (max-width: 768px) {
  .glance-bar {
    width: 95%;
    flex-wrap: wrap;
    padding: 30px 15px;
    gap: 30px 10px;
  }

  .glance-bar span {
    flex: 1 1 130px;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }
}

