* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; /* keeps spacing on smaller screens */
}
body {
  background-color: #fcfcfc;
  font-family: "poppins";
}
/* nav  */
.logo img {
  width: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  margin: 20px auto;
  max-width: 1200px;
  padding: 10px 20px;
  background-color: #fefefe;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.nav-links a {
  text-decoration: none;
  color: black;
}
.btn-primary {
  padding: 16px 32px;
  border-radius: 50px;
  background-color: black;
  color: #fdfdfd;
  font-weight: 600;
  font-family: "poppins";
}
.btn-secondary {
  padding: 16px 32px;
  border-radius: 58px;
  background-color: #fdfdfd;
  color: rgb(0, 0, 0);
  border: 1px solid #eeeeee;
  font-weight: 600;
  font-family: "poppins";
}
.btn-secondary:hover {
  background-color: black;
  color: white;
}
.btn-primary:hover {
  background-color: white;
  color: black;
}
/* hero-section */
.hero,
.tech-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 60px 20px 0 20px;
  gap: 30px;
}

.hero-image {
  padding-top: 20px;
}
.hero-image img {
  border-radius: 24px;
}
.short-line {
  color: #666666;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 600;
}
.long-line {
  color: #1a1a1a;
}
.bold-line {
  font-size: 80px;
  font-weight: 800;
  max-width: 600px;
  letter-spacing: -2px;
  max-width: 700px;
  line-height: 1.2;
}
.long-line {
  color: #666666;
  max-width: 550px;
}

/* glace bar  */
.glance-bar {
  display: flex;
  justify-content: space-around; /* or space-between */
  gap: 20px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  background-color: #ffffff;
  gap: 20px;
  padding: 40px;
  border-radius: 20px;
  width: 55%;
}
.glance-bar h4 {
  font-size: 24px;
}
.glance-bar p {
  font-size: 13px;
  color: #666666;
}
/* the journey  */
.the-journey {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000000;
  color: #fff;
  padding: 80px 40px;
  width: 100%;
  text-align: left;
}
.journey-list {
  display: flex;
  justify-content: flex-start;
  /* for small screen  */
  flex-wrap: wrap;
  gap: 70px;
  padding: 0;
}
.line-one {
  color: #999999;
  font-size: 50px;
  padding-left: 150px;
}
.line-two {
  padding-left: 160px;
  padding-bottom: 40px;
  font-family: "poppins", sans-serif;
  font-size: 28px;
}
.line-one,
.line-two {
  padding: 0; /* remove left padding */
  margin-bottom: 20px;
}
.journey-number {
  color: #eaeaea;
  font-family: "Space Mono";
  font-size: 64px;
  font-weight: 800;
  opacity: 0.2;
}
.line-three {
  font-family: "poppins", sans-serif;
  font-weight: 28px;
}
.line-four {
  font-family: "poppins", sans-serif;
  font-size: 16px;
  align-items: center;
  max-width: 300px;
}
/* price-card  */
.price-line-one {
  color: #666666;
  letter-spacing: 3px;
  font-size: 12px;
}
.price-line-two {
  font-family: "poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 600;
}
.price-subline-one {
  color: black;
  font-size: 24px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}
.price-subline-two {
  font-size: 16px;
  padding-top: 20px;
}
.price-subline-three {
  padding: 30px 0;
  font-size: 48px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}
.price-subline-four {
  color: #666666;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  padding-bottom: 40px;
}
.price-plan {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  gap: 30px;
  background-color: #fcfcfc;
}
.price-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  justify-content: center;
  gap: 30px;
  align-items: center;
  background-color: #ffffff;
}
.price-card {
  border: 1px solid #eeeeee;
  border-radius: 32px;
  padding: 30px 10px;
  box-shadow: 0 0 15px rgba(229, 229, 229, 0.6);
  max-width: 320px;
}
/* important  */
.price-card ul {
  padding-bottom: 40px;
  width: fit-content;
  margin: 0 auto;
  text-align: left;
  padding-left: 20px;
}
.price-card a {
  text-decoration: none;
}
.price-card-list .price-card:nth-child(2) {
  border: 1px solid black;
  border-radius: 16px;
  border-radius: 32px;
  width: 100%;
}
.price-card-list .btn-primary:hover {
  border: 1px solid #000000;
}

.price-card ul li {
  margin-bottom: 12px;
}

/* testimonials  */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-section {
  padding-top: 100px;
}
.testimonial-section .icon {
  color: #dbff00;
  font-size: 100px;
}
.testimonial-content {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 32px;
}
.name {
  padding-top: 50px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
}
.location {
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}
/* faq */
.faq {
  padding: 120px 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
.faq-items {
  margin-bottom: 20px;
}
.faq-item p {
  padding-bottom: 24px;
}
.faq-header {
  font-weight: 800;
  font-size: 42px;
  margin-bottom: 16px;
}
.faq-item summary {
  font-size: 18px;
  font-weight: 600;
  padding: 24px 0;
  cursor: pointer;
}
.faq-item p {
  padding-bottom: 24px;
  color: #666666;
}

/* join-us */
.join-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: black;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 40px;
  color: white;
  padding: 100px 20px;
  gap: 20px;
}
.join-us a {
  text-decoration: none;
}
.contact-us {
  padding-top: 40px;
}
.join-us .btn-primary {
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: black;
  font-weight: 600;
  font-family: "poppins";
}
.join-us .btn-primary:hover {
  background-color: white;
  color: black;
}
/* footer  */
.footer {
  max-width: 1200px;
  margin: 60px auto 20px auto;
}
.footer-top {
  display: flex;
  justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color: #000000;
}
.footer img {
  width: 40px;
  height: 40px;
}
.nav-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-brand {
  gap: 10px;
  padding-bottom: 20px;
}
.footer-brand p {
  max-width: 300px;
}
.footer-columns {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-bottom: 20px;
}
.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.footer-column ul li a {
  color: #666666;
}
.footer-column ul li {
  list-style: none;
}
.footer-column ul li {
  padding-bottom: 20px;
}
.footer-column p {
  font-weight: 700;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-leagal a {
  color: #666666;
  padding-left: 20px;
}
.logo-text {
  font-weight: 800;
  letter-spacing: 3px;
  font-size: 20px;
}
/* tech-hero-section */
.tech-hero .short-line {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.01em;
}
.tech-hero .bold-line {
  font-size: 64px;
  font-weight: 800;
}
.tech-hero .long-line {
  font-weight: 300;
  font-size: 20px;
  max-width: 750px;
}
.tech-hero {
  padding-top: 10px;
}
.tech-image img {
  width: 100%;
  border-radius: 32px;
}
.tech-card {
  display: flex;
  align-items: center;
  padding: 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 80px;
}
.tech-card-details {
  flex: 1;
}
.tech-image {
  flex: 1;
}
.tech-card:nth-child(even) {
  flex-direction: row-reverse;
}
.tech-card {
  flex-wrap: nowrap;
}
/* fonts  */
.small-top {
  font-weight: 300;
}
.tech-head {
  font-size: 42px;
  margin-bottom: 24px;
  font-weight: 600;
}
.tech-card-details ul {
  list-style-position: inside;
  max-width: 450px;
  padding-left: 10px;
  padding-top: 30px;
  line-height: 1.7;
}
.tech-card-details ul li {
  padding: 5px 0;
  display: flex;
  gap: 8px;
}
.tech-card-details ul li strong {
  min-width: 200px;
  font-weight: 600;
}

/* about page  */
.main-content {
  max-width: 1200px;
  margin: 200px auto;
}
.main-card {
  display: flex;
  gap: 100px;
}
.main-left {
  flex: 1;
}
.main-image {
  flex: 1;
}
.main-image img {
  width: 100%;
  border-radius: 32px;
}
.main-left .line-one {
  color: black;
  font-weight: 600;
}
/* about page card section  */
.about-card-section {
  max-width: 1200px;
  margin: 0 auto 250px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.about-card-content img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.about-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 24px;
  margin-top: 60px;
  padding: 32px;
}
.card-line {
  font-weight: 800;
  font-size: 48px;
}

/* contact page  */
.contact-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}
.contact-info {
  flex: 1;
}
.contact-form {
  flex: 1;
  margin-top: 100px;
}
.contact-info p {
  max-width: 450px;
  margin-top: 40px;
}

/* form  */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}
.contact-info h2 {
  font-weight: 800;
  font-size: 32px;
}
input {
  padding: 20px 40px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 20px;
  padding-left: 15px;
}
label {
  font-size: 14px;
  font-weight: 600;
}

.contact-form button[type="submit"] {
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.contact-form button[type="submit"]:active {
  transform: scale(0.98);
}

/* MOBILE MENU STYLES */
.menu-btn {
  display: none; /* hide on big screen */
  padding: 8px 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-btn {
    display: block; /* mobile view on */
  }

  .nav-links {
    display: none; /*hide on mobile */
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
  }

  /* on trigger ,becomes visiable*/
  .nav-links.show {
    display: block;
  }

  .footer-top {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }

  .footer-columns {
    flex-direction: column;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding-top: 40px;
  }

  .footer-leagal {
    padding-left: 0;
  }

  .footer-leagal a {
    padding-left: 0;
    padding-right: 20px;
  }

  .nav-links ul {
    flex-direction: column;
    gap: 20px;
  }

  nav .btn-primary {
    display: none;
  }
  .bold-line {
    font-size: 32px;
  }

  .glance-bar {
    width: 95%;
    flex-wrap: wrap;
    padding: 30px 15px;
    gap: 30px 10px;
  }

  .glance-bar span {
    flex: 1 1 130px;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }

  /* tech page responsiveness */
  .tech-hero .bold-line {
    font-size: 36px;
  }

  .tech-card {
    flex-direction: column !important;
    gap: 40px;
    padding: 60px 20px;
    text-align: center;
  }

  .tech-head {
    font-size: 28px;
  }

  .tech-card-details ul {
    max-width: 100%;
    text-align: left;
  }

  .tech-card-details ul li {
    flex-direction: column;
    gap: 4px;
    margin-bottom: 15px;
  }

  .tech-card-details ul li strong {
    min-width: unset;
  }

  /* about page responsiveness */
  .main-content {
    margin: 60px auto;
    padding: 0 20px;
  }

  .main-card {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .about-card-section {
    margin-bottom: 100px;
  }

  /* contact page responsiveness */
  .contact-content {
    flex-direction: column;
    padding: 0 20px;
    gap: 40px;
    text-align: center;
  }

  .contact-info p {
    margin: 20px auto;
  }

  .contact-form {
    margin-top: 40px;
    width: 100%;
  }

  input {
    padding: 15px 20px;
  }

  /* CTA buttons responsiveness */
  .contact-us {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }

  .contact-us a {
    width: 100%;
    margin: 0;
    box-sizing: border-box; /* ensure padding doesn't overflow */
    display: block; /* ensure full width */
  }
}
